.container-fluid {
  padding: 1.5% 10% 5% !important;
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-weight: 400;
  line-height: 1;
  color: black;
}

h4 {
  font-weight: 400;
  line-height: 1.5;
  padding: 5% 0%;
  color: gray;
}

section {
  margin-bottom: 50px;
}

svg {
  width: 50px;
  height: 50px;
}
/* 
.bottom-border {
  border-bottom: 2px dotted;
  margin: 0 auto;
  justify-content: center;
  width: 1000px;
} */

.navbar {
  margin-bottom: 3rem;
  background-color: #e3f2fd;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}

.nav-item {
  margin: 0 1.2rem;
}

.heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

#intro {
  text-align: center;
}

.pro-image {
  /* text-align: center; */
  border-radius: 50%;
  max-width: 290px;
  max-height: 290px;
  width: auto;
  height: auto;
}

.about-text {
  text-align: center;
}

@media (min-width: 990px) {
  .intro-text {
    text-align: left;
  }
  .pro-image {
    left: 60%;
    position: absolute;
  }
  .about-content {
    padding: 0;
  }
}
