{% include "header.html" %}

<section id="intro">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 intro-text">
                <h1>Hi! I'm Chris</h1>
                <h2>Blossoming Software Developer</h2>
                <h4>Working to become a fullstack developer! I am also looking for that opportinuty of a lifetime!</h4>
            </div>
            <div class="col-lg-6">
                <img src="../static/assets/chris_pro_pic.jpg" alt="Chris's Profile Picture" class="pro-image">
            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-lg-3 border-bottom border-3"></div>
</section>

<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="about-text">
                <h2 class="heading">About Me</h2>
                <h4 class="about-content">I started my journey as software developer in 2019. Before that, I was in the
                    automotive industry. I felt like I needed a change, and initally I started a college program in
                    System Administration. During this program, there was a programming fundementals course. I was
                    instantly hooked and changed my designation to software developer and away I went. Currently, I am a
                    PL/SQL developer
                    at Alberta
                    Blue Cross and have been there
                    for 4 years. I love learning and I
                    am always looking to
                    improve my coding
                    skills and knowledge. In my quest to becomes the ultimate developer, I have also completed some
                    courses
                    on Udemy.
                </h4>
            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-lg-3 border-bottom border-3"></div>
</section>


<section id="skills">
    <div class="container-fluid">
        <div class="row row-col-1 row-col-lg-2">
            <div>
                <h2 class="heading">Skills/Education</h2>
            </div>
            <div class="text-center">
                <h4>Below is a summary of my knowledge. React Native - The practical Guide, Python and Django
                    Full Stack Web Developer Bootcamp, and Next.js & React - The Complete Guide , will be the next
                    courses I will be taking on Udemy. I am also going to try and expand my knowledge by building my own
                    applications! </h4>
            </div>
            <div class="col">
                <div class="card rounded">
                    <div class="card-header text-center">
                        <h3>Schooling</h3>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title pb-0 pt-0"> Northen Alberta Insitute for Technology</h4>
                        <h5 class="card-subtitle pt-0">Digital Media & IT - Software Deveolpment Diploma </h5>
                        <ul>
                            <li>GPA 3.9</li>
                            <li>Dean's Honor Roll</li>
                            <li>Application Development</li>
                            <li>Database Development</li>
                            <li>Capstone Project - Created proprietary Time and Collaboration Organizer for MVC web
                                appilcation for the
                                Workers' Compensation Board - Alberta
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card rounded">
                    <div class="card-header text-center">
                        <h3>Udemy</h3>
                    </div>
                    <div class="card-body ">
                        <ul>
                            <li>100 Days of Code: The Complete Python Pro Bootcamp for 2023
                            </li>
                            <li>React, NodeJS, Express & MongoDB - The MERN Fullstack Guide
                            </li>
                            <li>React - The Complete Guide 2023 (incl. React Router & Redux)
                            </li>
                            <li>
                                CSS - The Complete Guide 2023 (incl. Flexbox, Grid & Sass)
                            </li>
                            <li>NodeJS - The Complete Guide (MVC, REST APIs, GraphQL, Deno)
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card rounded">
                    <div class="card-header text-center">
                        <h3>Languages/Frameworks</h3>
                    </div>
                    <div class="card-body ">


                        <p class="mb-0">wang</p>
                        <p class="mb-0">wang</p>
                        <p class="mb-0">wang</p>
                        <p class="mb-0">wang</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-lg-3 border-bottom border-3"></div>
</section>







{% include "footer.html" %}