{% include "header.html" %}

<section id="intro">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 intro-text">
                <h1>Hi! I'm Chris</h1>
                <h2>Blossoming Software Developer</h2>
                <h4>Consistently trying to learn different skills and grow my developing skills.<br />
                    I am also looking for that opportinuty of a lifetime!</h4>
            </div>
            <div class="col-lg-6">
                <img src="../static/assets/chris_pro_pic.jpg" alt="Chris's Profile Picture" class="pro-image">
            </div>
        </div>
    </div>
</section>









{% include "footer.html" %}